<a href="https://colab.research.google.com/github/JonAbaroa/PANDAS/blob/main/Codeacademy_1_Learn_Data_Analysis_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction to PANDAS**

# **Lesson - CREATING, LOADING, AND SELECTING DATA WITH PANDAS**

## **Create our own DataFrame**

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({
    'name': ['John Smith', 'Jane Doe', 'Joe Schmo'],
    'address': ['123 Main St.', '456 Maple Ave.', '789 Broadway'],
    'age': [34, 28, 51]
})

In [ ]:
print(df1)

         name         address  age
0  John Smith    123 Main St.   34
1    Jane Doe  456 Maple Ave.   28
2   Joe Schmo    789 Broadway   51

In [ ]:
df2 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],
  'Product Name': ["t-shirt", "t-shirt", "skirt", "skirt"],
  'Color': ["blue", "green", "red", "black"],
  # add Product Name and Color here
})

print(df2)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black

In [ ]:
df3 = pd.DataFrame([
    ['John Smith', '123 Main St.', 34],
    ['Jane Doe', '456 Maple Ave.', 28],
    ['Joe Schmo', '789 Broadway', 51]
    ],
    columns=['name', 'address', 'age'])
print(df3)

         name         address  age
0  John Smith    123 Main St.   34
1    Jane Doe  456 Maple Ave.   28
2   Joe Schmo    789 Broadway   51

In [ ]:
df4 = pd.DataFrame([
  [1, 'San Diego', 100],
  [2, 'Los Angeles', 120],
  [3, 'San Francisco', 90],
  [4, 'Sacramento', 115]
],
  columns = [
    'Store ID', 'Location', 'Number of Employees'
  ])

print(df4)

   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115

## **Comma Separated Variables (CSV)**

One of the most common formats for big datasets is the CSV.

CSV (comma separated values) is a text-only spreadsheet format. You can find CSVs in lots of places:

In [ ]:
import pandas as pd

df = pd.read_csv('nations.csv')
print(df)

     Unnamed: 0          country   region  ...   literacy    co2       gini
0             1          Algeria   Africa  ...  72.599998  15.00        NaN
1             2            Benin   Africa  ...  41.700001   1.20        NaN
2             3         Botswana   Africa  ...  84.099998   9.20        NaN
3             4     Burkina Faso   Africa  ...  23.600000   0.20        NaN
4             5          Burundi   Africa  ...  66.599998   0.10  33.299999
..          ...              ...      ...  ...        ...    ...        ...
189         190            Samoa  Oceania  ...  98.800003   3.10        NaN
190         191  Solomon Islands  Oceania  ...        NaN   1.40        NaN
191         192            Tonga  Oceania  ...  99.000000   4.85        NaN
192         193           Tuvalu  Oceania  ...        NaN    NaN        NaN
193         194          Vanuatu  Oceania  ...  82.000000   1.50        NaN

[194 rows x 14 columns]

In [ ]:
df.to_csv('new-csv-file.csv')

## **Inspect a DataFrame**

When we load a new DataFrame from a CSV, we want to know what it looks like.

In [ ]:
# The method .head() gives the first 5 rows of a DataFrame. If you want to see more rows, 
# you can pass in the positional argument n. For example, df.head(10) would show the first 10 rows.

df = pd.read_csv('new-csv-file.csv')

print(df.head())

   Unnamed: 0  Unnamed: 0.1       country  ...   literacy   co2       gini
0           0             1       Algeria  ...  72.599998  15.0        NaN
1           1             2         Benin  ...  41.700001   1.2        NaN
2           2             3      Botswana  ...  84.099998   9.2        NaN
3           3             4  Burkina Faso  ...  23.600000   0.2        NaN
4           4             5       Burundi  ...  66.599998   0.1  33.299999

[5 rows x 15 columns]

In [ ]:
# The method df.info() gives some statistics for each column.

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    194 non-null    int64
 1   Unnamed: 0.1  194 non-null    int64
 2   country       194 non-null    object
 3   region        194 non-null    object
 4   gdp           179 non-null    float64
 5   school        188 non-null    float64
 6   adfert        194 non-null    float64
 7   chldmort      193 non-null    float64
 8   life          194 non-null    float64
 9   pop           194 non-null    int64
 10  urban         194 non-null    float64
 11  femlab        177 non-null    float64
 12  literacy      135 non-null    float64
 13  co2           185 non-null    float64
 14  gini          81 non-null     float64
dtypes: float64(10), int64(3), object(2)
memory usage: 22.9+ KB
None

## **Select Columns**

Now we know how to create and load data. Let’s select parts of those datasets that are interesting or important to our analyses.

In [ ]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)
print(df)

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96
3     April           80            80            54          180
4       May           51            54            54          154
5      June          112           109            79          129

In [ ]:
clinic_north = df.clinic_north
print(clinic_north)

0    100
1     45
2     96
3     80
4     54
5    109
Name: clinic_north, dtype: int64

In [ ]:
print(type(clinic_north))
print(type(df))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

## **Selecting Multiple Columns**

When you have a larger DataFrame, you might want to select just a few columns.

In [ ]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

clinic_north_south = df[['clinic_north','clinic_south']]

print(clinic_north_south)

print(type(clinic_north_south))

   clinic_north  clinic_south
0           100            23
1            45           145
2            96            65
3            80            54
4            54            54
5           109            79
<class 'pandas.core.frame.DataFrame'>

## **Select Rows**

In [ ]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

march = df.iloc[2]

print(march)

month           March
clinic_east        81
clinic_north       96
clinic_south       65
clinic_west        96
Name: 2, dtype: object

## **Selecting Multiple Rows**

You can also select multiple rows from a DataFrame.

In [ ]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

april_may_june = df.iloc[3:6]

print(april_may_june)

   month  clinic_east  clinic_north  clinic_south  clinic_west
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129

## **Select Rows with Logic I**

You can select a subset of a DataFrame by using logical statements:

In [ ]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

january = df[df.month == 'January']

print(january)

     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100

## **Select Rows with Logic II**

You can also combine multiple logical statements, as long as each statement is in parentheses.

In [ ]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

march_april = df[(df.month == 'March') | (df.month == 'April')]

print(march_april)

   month  clinic_east  clinic_north  clinic_south  clinic_west
2  March           81            96            65           96
3  April           80            80            54          180

## **Select Rows with Logic III**

In [ ]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west'])

january_february_march = df[df.month.isin(['January', 'February', 'March'])]

print(january_february_march)

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96

## **Setting indices**

When we select a subset of a DataFrame using logic, we end up with non-consecutive indices. This is inelegant and makes it hard to use .iloc().

We can fix this using the method .reset_index(). For example, here is a DataFrame called df with non-consecutive indices:

In [ ]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

df2 = df.loc[[1, 3, 5]]

print(df2)

      month  clinic_east  clinic_north  clinic_south  clinic_west
1  February           51            45           145           45
3     April           80            80            54          180
5      June          112           109            79          129

In [ ]:
df3 = df2.reset_index()

print(df3)

   index     month  clinic_east  clinic_north  clinic_south  clinic_west
0      1  February           51            45           145           45
1      3     April           80            80            54          180
2      5      June          112           109            79          129

In [ ]:

df2.reset_index(inplace = True, drop = True)

print(df2)

      month  clinic_east  clinic_north  clinic_south  clinic_west
0  February           51            45           145           45
1     April           80            80            54          180
2      June          112           109            79          129

## **Review**

You’ve completed the lesson! You’ve just learned the basics of working with a single table in Pandas, including:

Create a table from scratch
Loading data from another file
Selecting certain rows or columns of a table
Let’s practice what you’ve learned.

In [ ]:
#Part 1: reading the csv
orders = pd.read_csv('nations.csv')
print(orders)

     Unnamed: 0          country   region  ...   literacy    co2       gini
0             1          Algeria   Africa  ...  72.599998  15.00        NaN
1             2            Benin   Africa  ...  41.700001   1.20        NaN
2             3         Botswana   Africa  ...  84.099998   9.20        NaN
3             4     Burkina Faso   Africa  ...  23.600000   0.20        NaN
4             5          Burundi   Africa  ...  66.599998   0.10  33.299999
..          ...              ...      ...  ...        ...    ...        ...
189         190            Samoa  Oceania  ...  98.800003   3.10        NaN
190         191  Solomon Islands  Oceania  ...        NaN   1.40        NaN
191         192            Tonga  Oceania  ...  99.000000   4.85        NaN
192         193           Tuvalu  Oceania  ...        NaN    NaN        NaN
193         194          Vanuatu  Oceania  ...  82.000000   1.50        NaN

[194 rows x 14 columns]

In [ ]:
#Part 2: inspecting the first five lines of data
print(orders.head(5))

   Unnamed: 0       country  region  ...   literacy   co2       gini
0           1       Algeria  Africa  ...  72.599998  15.0        NaN
1           2         Benin  Africa  ...  41.700001   1.2        NaN
2           3      Botswana  Africa  ...  84.099998   9.2        NaN
3           4  Burkina Faso  Africa  ...  23.600000   0.2        NaN
4           5       Burundi  Africa  ...  66.599998   0.1  33.299999

[5 rows x 14 columns]

In [ ]:

#Part 3: selecting the column 'country'
country = orders.country
print(country)

0              Algeria
1                Benin
2             Botswana
3         Burkina Faso
4              Burundi
            ...
189              Samoa
190    Solomon Islands
191              Tonga
192             Tuvalu
193            Vanuatu
Name: country, Length: 194, dtype: object

In [ ]:
#Part 4: the country region incident
country_region = orders[(orders.country == 'Algeria') & (orders.region == 'Africa')]
print(country_region)

   Unnamed: 0  country  region          gdp  ...  femlab   literacy   co2  gini
0           1  Algeria  Africa  7300.399902  ...  0.4522  72.599998  15.0   NaN

[1 rows x 14 columns]

In [ ]:
#Part 5: Comfy feet means more time on the street
comfy_shoes = orders[orders.shoe_type.isin(['clogs', 'boots', 'ballet flats'])]

print(comfy_shoes)

# **Lesson - MODIFYING DATAFRAMES**

## **MODIFYING DATAFRAMES - Adding a Column I**

Sometimes, we want to add a column to an existing DataFrame. We might want to add new information or perform a calculation based on the data that we already have.

## **Adding a Column I**

Sometimes, we want to add a column to an existing DataFrame.

In [ ]:
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

df['Sold in Bulk?'] = ['Yes', 'Yes', 'No', 'No']

print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

## **Adding a Column II**

We can also add a new column that is the same for all rows in the DataFrame.

In [ ]:
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

df['Is taxed?'] = 'Yes'

print(df)

   Product ID   Description  Cost to Manufacture  Price Is taxed?
0           1  3 inch screw                  0.5   0.75       Yes
1           2   2 inch nail                  0.1   0.25       Yes
2           3        hammer                  3.0   5.50       Yes
3           4   screwdriver                  2.5   3.00       Yes

## **Adding a Column III**

Finally, you can add a new column by performing a function on the existing columns.

In [ ]:
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

df['Margin'] = df['Price'] - df['Cost to Manufacture']

print(df)

   Product ID   Description  Cost to Manufacture  Price  Margin
0           1  3 inch screw                  0.5   0.75    0.25
1           2   2 inch nail                  0.1   0.25    0.15
2           3        hammer                  3.0   5.50    2.50
3           4   screwdriver                  2.5   3.00    0.50

## **Performing Column Operations**

In [ ]:
df = pd.DataFrame([
  ['JOHN SMITH', 'john.smith@gmail.com'],
  ['Jane Doe', 'jdoe@yahoo.com'],
  ['joe schmo', 'joeschmo@hotmail.com']
],
columns=['Name', 'Email'])

df['Lowercase Name'] = df.Name.apply(str.lower)

print(df)

         Name                 Email Lowercase Name
0  JOHN SMITH  john.smith@gmail.com     john smith
1    Jane Doe        jdoe@yahoo.com       jane doe
2   joe schmo  joeschmo@hotmail.com      joe schmo

## **Reviewing Lambda Function**

A lambda function is a way of defining a function in a single line of code. Usually, we would assign them to a variable.

In general, the syntax for an if function in a lambda function is:

lambda x: [OUTCOME IF TRUE] if [CONDITIONAL] else [OUTCOME IF FALSE]

In [ ]:
mylambdaA = lambda x: (x * 2) + 3
print(mylambdaA(5))

13

In [ ]:
stringlambdaB = lambda x: x.lower()
print(stringlambdaB("Oh Hi Mark!"))

oh hi mark!

In [ ]:
mylambdaC = lambda x: x[0]+x[-1]
print(mylambdaC('Hello World'))

Hd

## **Reviewing Lambda Function: If Statements**

We can make our lambdas more complex by using a modified form of an if statement.

In general, the syntax for an if function in a lambda function is:

lambda x: [OUTCOME IF TRUE] if [CONDITIONAL] else [OUTCOME IF FALSE]

In [ ]:
def myfunction(x):
    if x > 40:
        return 40 + (x - 40) * 1.50
    else:
        return x

In [ ]:
myfunction(5)

5

In [ ]:
myfunction = lambda x: 40 + (x - 40) * 1.50 if x > 40 else x

In [ ]:
myfunction(5)

5

In [ ]:
mylambda = lambda x: 'Welcome to BattleCity!' \
	if x >= 13 \
  else 'You must be over 13'

In [ ]:
mylambda(13)

'Welcome to BattleCity!'

## **Applying a Lambda to a Column**

In Pandas, we often use lambda functions to perform complex operations on columns.

In [ ]:
import pandas as pd

df = pd.read_csv('Lambda.csv')
print(df)

   id;name;hourly_wage;hours_worked
0         10310;Lauren Durham;19;43
1         18656;Grace Sellers;17;40
2     61254;Shirley Rasmussen;16;30
3           16886;Brian Rojas;18;47
4       89010;Samantha Mosley;11;38
5          87246;Louis Guzman;14;39
6        20578;Denise Mcclure;15;40
7         12869;James Raymond;15;32
8          53461;Noah Collier;18;35
9       14746;Donna Frederick;20;41
10         71127;Shirley Beck;14;32
11       92522;Christina Kelly;8;44
12          22447;Brian Noble;11;39
13            61654;Randy Key;16;38
14        16988;Diana Stewart;14;48
15         68619;Timothy Sosa;14;42
16        59949;Betty Skinner;11;48
17        81418;Janet Maxwell;12;38
18     27267;Madison Johnston;20;37
19     19985;Virginia Nichols;13;49

In [ ]:
get_last_name = lambda x: x.split()[-1]
df['last_name'] = df.name.apply(get_last_name)

print(df)

## **Applying a Lambda to a Row**

We can also operate on multiple columns at once.

In [ ]:
df = pd.read_csv('employees.csv')
print(df)

In [ ]:
total_earned = lambda row: (row.hourly_wage * 40) + ((row.hourly_wage * 1.5) * (row.hours_worked - 40)) \
	if row.hours_worked > 40 \
  else row.hourly_wage * row.hours_worked
  
df['total_earned'] = df.apply(total_earned, axis = 1)

print(df)

## **Renaming Columns**

When we get our data from other sources, we often want to change the column names.

In [ ]:
import pandas as pd

df = pd.read_csv('imdb.csv')

df.columns = ['ID', 'Title', 'Category', 'Year Released', 'Rating']

print(df)

ParserError: ignored